body {
  padding-bottom: 8ch;
}

/* scrollable navbar :O */
nav {
  white-space: nowrap;
  overflow: scroll;
}

nav:first-child {
  position: sticky;
  top: 0;
  background-color: var(--card-background-color);
}

nav:last-child {
  position: fixed;
  bottom: 0;
  background-color: var(--card-background-color);
}

.table tr > th,
.table tr > td {
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  /* hide description */
  /*
  nav:first-child > ul:nth-child(1) > li:nth-child(2) {
    display: none;
  }
  */
}
