nav:nth-child(1) {
  position: sticky;
  top: 0;
  background: var(--background-color);
}

nav:nth-child(1) > ul:nth-child(1) > li:nth-child(2) {
  max-width: 48ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* shorten commit time, author and tag name*/
#commits tr > th,
#commits tr > td,
.refs tr > th,
.refs tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  /* hide description */
  nav:nth-child(1) > ul:nth-child(1) > li:nth-child(2) {
    display: none;
  }
}
