{% include '_header.html' %}
<section class="container-fluid">
  {% if commits|length > 0 %}
  <figure>
    <table class="table" role="grid">
      <thead>
        <tr>
          <th>Commit time</th>
          <th>Commit message</th>
          <th>Author</th>
          <th>Insertions</th>
          <th>Deletions</th>
        </tr>
      </thead>
      <tbody>
        {% for e in commits %}
        <tr>
          <td>{{ e['commit_time'] }}</td>
          <td>
            <a href="/commit/{{ e['commit_id'] }}.html">
              {{ e['commit_message'] }}
            </a>
          </td>
          <td>
            <a href="mailto:{{ e['commit_author_email'] }}">
              {{ e['commit_author_name'] }}
            </a>
          </td>
          <td>+{{ e['commit_insertions'] }}</td>
          <td>-{{ e['commit_deletions'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
  <small>Showing <strong>{{ commits|length }} of {{ n_commits }} commit(s)</strong>.</small>
  {% else %}
  <article>This repository has no commits.</article>
  {% endif %}
</section>
{% include '_footer.html' %}