{% include '_header.html' %}
<section class="container-fluid">
  {% if branches|length > 0 %}
  <figure>
    <table class="table" role="grid">
      <thead>
        <tr>
          <th>Branch</th>
          <th>Commit</th>
        </tr>
      </thead>
      <tbody>
        {% for e in branches %}
        <tr>
          <td>{{ e['name'] }}</td>
          <td>
            <a href="/commit/{{ e['commit_id'] }}.html">
              {{ e['commit_message'] }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
  {% else %}
  <article>This repository has no branches.</article>
  {% endif %}
  <br />
  {% if tags|length > 0 %}
  <figure>
    <table class="refs" role="grid">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Commit</th>
        </tr>
      </thead>
      <tbody>
        {% for e in tags %}
        <tr>
          <td>{{ e['name'] }}</td>
          <td>
            <a href="/commit/{{ e['commit_id'] }}.html">
              {{ e['commit_message'] }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
  {% else %}
  <article>This repository has no tags.</article>
  {% endif %}
  <br />
  {% if branches|length > 0 or tags|length > 0 %}
  <small>
    Showing <strong>{{ branches|length }} of {{ n_branches }} branch(es)</strong>
    and <strong>{{ tags|length }} of {{ n_tags }} tag(s)</strong>.
  </small>
  {% endif %}
</section>
{% include '_footer.html' %}