{% include '_header.html' %} {% include '_nav.html' %}
<section class="container-fluid">
  <figure style="margin-bottom: 0">
    <table id="tags"" role="grid">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Commit</th>
        </tr>
      </thead>
      <tbody>
        {% for e in tags %}
        <tr>
          <td>{{ e['name'] }}</td>
          <td>
            <a href="/commit/{{ e['commit_id'] }}.html">
              {{ e['commit_message'] }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
</section>
{% include '_footer.html' %}
